@charset 'UTF-8';
/************************************/
:root {
  --list-multiple-item-margin: 0.5rem;
  --global-border-radius: 0.5rem;
  --hdesc-dim-bg: rgba(0,0,0,0.6);
  --footer-service-ico-color: 255, 255, 255;
  --button-svg-color: #FF5722;
  --button-bg: #FFCCBC;
  --button--active-bg: #FFAB91;
  --button--simple-active-bg: #FFAB91;
  --part-vertical-padding: 4rem;
  --part-odd-bg: #FAFAFA;
}
/************************************/
.part.dalsi .list,
.part.clanky .list {
  --global-max-width: 80rem;
  --list-multiple-item-margin: 1rem;
}
.part.dalsi .list > div,
.part.clanky .list > div {
  justify-content: center;
}
.clanek {
  max-width: 22em !important;
  display: flex;
  flex-direction: column;
  position: relative;
}
.extra {
  --button-color: var(--global-color);
  --button-svg-color: #9E9E9E;
  --button--simple-bg: #fff;
  --button--simple-active-bg: #E0E0E0;
}
.hdesc--top .extra {
  --button--simple-bg: rgba(250, 250, 250, 0);
  --button-svg-color: #ffffff;
  --button--simple-active-bg: #616161;
}
.extra .hideable a.hideable-switch:before {
  all: initial;
}
.extra .button-list {
  margin: 0;
  margin-top: 0;
  justify-content: space-between;
  position: relative;
}
.extra .button-list li {
  flex: 0 1 auto;
}
.extra .button-list li:first-child {
  --button-list-item-margin: 0;
  flex-grow: 1;
}
.extra .button-list li:first-child ~ li a,
.extra .button-list li:first-child ~ li span {
  --button-border-radius: 10em;
}
.extra .button-list span {
  padding: 0;
}
.extra .button-list span a {
  padding: var(--button-img-only-padding);
}
.extra .button-list li:first-child .button {
  --button-padding: 1em;
  width: auto;
  min-width: auto;
}
.clanek .heading a {
  border: none;  
}
.clanek .heading {
  margin-top: 1em;
}
.extra {
  margin-top: 0.5em;
  padding-bottom: 0.5em;
}
.clanek .extra {
  padding-bottom: 0.5em;
}
.clanek .desc {
  flex-grow: 1;
}
.clanek .kw {
  margin-top: 1em;
}
.clanek .desc {
  flex-grow: 1;
  margin: 0.5em 0 0;
  height: 7em;
  overflow: hidden;
  position: relative;
}
.clanek .desc.expand {
  height: unset;
}
.clanek .desc.expand:after {
  height: 0;
}
.clanek .desc a.expand-button {
  position: absolute;
  display: inline-block;
  bottom: 0;
  left: 0;
  right: 0;
  cursor: pointer;
  margin: 0 auto;
  width: 100%;
  text-align: center;
  background: linear-gradient(180deg, transparent, white 55%);
  padding: 2em 0 0 0;
}
.clanek .desc a.expand-button:before {
  content: "──────────────────────";
  color: #F5F5F5;
  position: absolute;
  left: 0;
  width: 100%;
  text-align: center;
  top: 2.45em;
  font-size: 0.75em;
}
.clanek .desc a.expand-button svg {
  font-size: 1.75em;
  position: relative;
  top: -0.25em;
  background: linear-gradient(180deg, transparent, white 55%);
  padding: 0 0.5rem;
  color: #9e9e9e;
}
.part.clanky .clanek .date {
  position: absolute;
  top: 0;
  right: 0;
  color: white;
  padding: 0.75em 1em;
  background: rgba(33, 33, 33, 0.7);
  border-radius: 0 var(--global-border-radius) 0 0;
}
.clanek .kw {
  height: 1.5em;
  overflow: hidden;
  display: flex;
  flex-wrap: wrap;
}
/************************************/
.copyable-wrapper {
  max-width: 100vw;
  width: max-content;
  overflow: hidden;
  background: #ffffff;
  display: flex;
  justify-content: space-between;
  border-radius: var(--global-border-radius);
  align-items: center;
}
.extra .copyable-wrapper {
  position: absolute;
  right: 0;
  top: -2.7rem;
  line-height: 110%;
  text-align: left;
}
.clanek .copyable-wrapper {
  width: 100%;
  box-shadow: var(--shadow-2);
}
.hdesc .copyable-wrapper {
  top: -2.4rem
}
.copyable-wrapper > span:first-child {
  order: 2;
  font-size: 1.2em;
  background: #e0e0e0;
  padding: .1em .2em .2em .2em;
  border-radius: 0 .3rem .3rem 0;
  flex-shrink: 0;
  height: 2em;
  line-height: 1.6;
}
.copyable-wrapper > span:first-child button {
  padding: .1em 0!important;
  height: 2em;
  width: 2em;
  border-radius: 0;
  overflow: hidden;
  background: none;
  color: transparent;
  border: none;
}
.hdesc .copyable-wrapper > span:first-child button {
  padding: .3em
}
.copyable-wrapper > span:first-child button svg {
  color: #424242 !important
}
.copyable-wrapper>span:first-child+span {
  padding: 0 .5em;
  overflow: hidden;
  height: 1.2em;
  flex-shrink: 1;
  word-break: break-all;
  outline: none;
  color: black;
}
/************************************/
a:not([href]) {
  --link-color: 33, 33, 33;
  --link-visited-color: 33, 33, 33;
}
a.tag {
  margin-left: 1.75em;
  position: relative;
}
.kw a.tag:first-child {
  margin-left: 1.3em;
}
a.tag svg {
  position: absolute;
  left: -1.2em;
  top: 0.2em;
  color: rgba(var(--link-color), 0.5);
}
a.tag[href^="#"] {
  border: none;
}
/************************************/
dt label.button,
h2 label.button {
  cursor: pointer;
  margin-left: 1.5em;
  vertical-align: 0.35em;
}
dt label.button {
  margin-left: 1em;
  vertical-align: 0;
}
.taglist {
  width: 100%;
}
.taglist > * {
  max-width: 41rem;
  margin: 0 auto; 
}
.taglist dt {
  max-width: 40rem;
  font-size: 1.2em;
  margin: 1rem auto; 
}
.taglist dd {
  display: flex;
  flex-wrap: wrap;
}
.moreable-linkwrapper.button-list {
  width: 100%;
  padding: 3em 0 0 0;
}
.moreable-linkwrapper .button span {
  margin-left: 0.25em;
}
/************************************/
.hostovka + div {
  margin-top: 4em;
}
.hostovka + div .imgwrap {
  height: 10em;
  width: 10em;
  margin-top: 0;
  padding: 0 !important;
  margin-left: auto;
  margin-right: auto;
}
.hostovka + div .card {
  max-width: 100vw;
  text-align: center;
  margin: 0;
}
.hostovka + div .card .tag {
  white-space: nowrap;
}
@media all and (min-width: 45em) {
  .hostovka + div .card {
    text-align: left;
  } 
}
.hostovka + div .image-group__wrapper > div:first-child {
  width: 12em;
  text-align: center;
}
.hostovka + div .list-wrapper--multiple > div {
  justify-content: center;
}
.hostovka + div .list-wrapper--multiple > div > dl:last-child {
  padding-top: 3em;
  padding-bottom: 2em;
  text-align: center;
}
.hostovka + div dd {
  margin: 0.5em 0;
}
.hostovka + div q {
  color: #BF360C;
}
.author dt + dd {
  font-size: 1.2em;
}
.author dt + dd svg {
  color: #333;
}
.author dt + dd svg:last-child {
  margin-left: 0.25em;
}
#clanky {
  text-align: center;
  margin-bottom: 2em;
}
#clanky .tag {
  white-space: nowrap;
}
/************************************/
#header {
  --header-bg: 0,0,0,0;
  --header-padding-top: 0;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 2;
  width: 100%;
}
#header > div {
  max-width: 80rem;
}
.search ul {
  --button-svg-color: #ffffff;
  --button--active-bg: #D84315;
  --button-bg: #FF5722;
  margin: 0;
  padding: 0;
  list-style: none;
}
.search ul li {
  margin: 0;
  display: flex;
}
.breadcrumb {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
.breadcrumb a.logo {
  border: none;
}
.breadcrumb .imgwrap {
  background: none;
  height: 2rem;
  width: 2rem;
}
.breadcrumb .imgwrap + span {
  display: none;
}
.breadcrumb > .breadcrumb__item + .breadcrumb__item {
  display: none;
}
.hdesc--top {
  --link-color: 255, 255, 255;
  --link-visited-color: 255, 255, 255;
  color: white;
  padding-top: 7em;
}
.hdesc--top .description {
  font-size: 1.2em;
}
.hdesc--top .extra .button-list {
  position: absolute;
  bottom: -4em;
  right: 0;
}
.hdesc--top .extra .button-list {
  justify-content: flex-end;
  --button-list-item-margin: 0.5rem;
  padding: 0;
}
.hdesc--top .extra .button-list li:first-child {
  all: initial;
  margin: 0.25rem;
}
.hdesc--top .extra .button-list li:first-child .button {
  border-radius: 100%;
}
.hdesc--top .meta {
  margin-top: 2em;
}
.hdesc--top .meta .tag svg {
  color: rgba(var(--link-color), 0.85);
}
.agregator .hdesc--top {
  padding-bottom: 5em;
}
/***************************/
.search {
  padding-right: 6em;
  width: 100%;
}
.search .js-completable__navig strong {
  font-weight: 600;
}
.search .js-completable__navig li svg {
  margin: 0 0.5em 0 0.25em;
  color: #616161;
  vertical-align: -0.2em;
}
.search .js-completable__navig span {
  color: #9e9e9e;
  margin-left: 1.7em;
}
.search ul .js-completable__input {
  color: #fff;
}
.search ul .js-completable__input {
  height: 3.5em;
  border: 0;
  outline: none;
  padding: 0.5em 1em;
  background: rgba(255, 255, 255, 0.3);
  transition: all .1s ease-in-out;
  width: 100%;
  max-width: 100%;
  border-radius: 0;
  -webkit-appearance: none;
  border-radius: 0 0 0 var(--global-border-radius);
  border: thin solid rgba(255, 255, 255, 0.32);
  border-top: none;
}
@media (min-width: 38em) {
  .search {
    max-width: 25em;
  }
  .search ul .js-completable__input {
    width: 18em;
  }
  .search ul .js-completable__input:focus {
    width: 100%;
  }
}
.search .js-completable__navig,
.search ul .js-completable__input:focus {
  color: #333;
}
.search ul .js-completable__input:focus {
  background: #ffffff;
}
.search ul li > label {
  width: 100%;
  text-align: right;
}
@media (max-width: 38em) {
  .search ul .js-completable__input:focus {
    max-width: calc(100% + 3.5em);
    width: calc(100% + 3.5em);
    border-radius: 0;
    border-left: none;
    margin-left: -5em;
  }
}
.search ul .js-completable__input::placeholder {
  color: #fff;
}
.search ul .js-completable__input:focus::placeholder {
  color: #555;
}
.search button[type="submit"] {
  width: 6rem;
  min-width: unset;
  height: 3.5rem;
  line-height: 3.5rem;
  overflow: hidden;
  border: none;
  position: absolute;
  right: -6rem;
  top: 0;
  color: #fbe9e7;
  padding: 0 0rem 0 0.5rem;
  font-size: 1.8em;
  outline: none;
  border-radius: 0;
  -webkit-appearance:  none;
}
.search button[type="submit"] svg {
  font-size: 2.25rem;
}
@media (min-width: 63.5em) {
  .search ul button[type="submit"] {
    border-radius: 0 0 var(--global-border-radius) 0;
  }
}
.search button span {
  display: none;
}
.search button[type="submit"]:hover {
}
.search button[type="submit"]:active,
.search button[type="submit"]:focus {
}
.search ul {
  margin: 0;
  padding: 0;
  list-style: none;
  text-align: left;
}
.search > ul > li {
  margin: 0;
  position: relative;
  display: flex;
  justify-content: flex-start;
  text-align: left;
  padding: 0;
}
.search .js-completable__navig {
  width: calc(100% + 6em) !important;
  right: -6em;
  top: 3.5em;
}
.search .js-completable__navig li {
  max-width: 100%;
  display: block;
}
@media (max-width: 38em) {
  .search .js-completable__navig {
    width: calc(100% + 9.5em) !important;
    right: -6em;
    top: 3.5em;
  }
}
/************************************/
.agregator .hdesc--top + div:not(.section) {
  padding: var(--part-vertical-padding) 0;
  background: var(--part-odd-bg);
}
.agregator .hdesc--top + div:not(.section) > * {
  max-width: var(--global-max-width);
  margin: var(--global-vertical-margin) auto;
}
.agregator #content .docinfo-wrap {
  padding-top: var(--part-vertical-padding);
}
.agregator #content .docinfo-wrap .list-wrapper--multiple {
  max-width: var(--global-max-width);
  margin: 0 auto;
  padding: 0;
}
.agregator #content .docinfo-wrap .button-list {
  --list-margin-left: 0.5rem;
  justify-content: left;
}
.agregator .hdesc__desc-wrapper p {
  font-size: 1.2em;
  margin-bottom: calc(2.5 * var(--global-vertical-margin));
}
/************************************/
.important, .example {
  max-width: calc(var(--global-max-width) - 2rem) !important;
  list-style: none;
  position: relative;
  padding: 1em;
  padding-left: 3.25rem;
  margin: 0 auto;
  border-radius: var(--global-border-radius);
  min-height: 3.5em;
}
.important {
  background: #FFE0B2;
}
.example {
  background: #E8EAF6;
}
.important svg {
  color: #FB8C00;
}
.example svg {
  color: #3F51B5;
}
li.important, li.example {
  margin-left: 0;
}
.important svg, .example svg {
  position: absolute;
  top: 1rem;
  left: 0.75rem;
  font-size: 1.5em
}
/************************************/
.docinfo.global:first-child {
  --button-list-item-margin: 1.5em;
}
.docinfo.global:first-child svg {
  font-size: 1.5em;
  margin-right: 0.25em;
  vertical-align: -0.25em;
}
/************************************/
#content .definition-desc {
  padding: 1rem;
  font-size: 1rem;
  margin: 0;
  background: #FFF8E1;
  border-radius: var(--global-border-radius);
  box-shadow: var(--shadow-2)
}
/************************************/
