@charset 'UTF-8';
/************************************/
:root {
  --list-multiple-item-margin: 0.5rem;
  --global-border-radius: 0.5rem;
  --global-vertical-margin: 1.5rem;
  --line-height: 1.5;
  --hdesc-dim-bg: none;
  --button-svg-color: #546E7A;
  --button-color: 255,255,255;
  --button-bg: #546E7A;
  --button--active-bg: #607D8B;
  --button--simple-active-bg: #607D8B;
  --button--border-bg: rgb(255, 255, 255);
  --button--border-border: medium solid #607D8B;
  --button--border-active-border: medium solid #78909C;
  --list-ico-svg: #607D8B;
  --list-margin-left: 2.75em;
  --part-vertical-padding: 4rem;
  --part-odd-bg: none;
  --hdesc-top-p-max-width: 51rem;
  --hdesc-top-bg: none;
  --hdesc-p-max-width: 38rem;
  --input-border: medium solid #BDBDBD;
  --button-list-item-margin: 0.5rem;
  --h1-font-size: 3em;
  --h1-font-weight: 700;
  --hdesc-top-h1-max-width: 15em;
  --font-family: Roboto, sans-serif;
  --footer-bg: #f5f5f5;
  --footer-color: 0, 0, 0;
  --footer-padding: 3em 0;
}
.button--border,
.button--simple {
  --button-color: 0, 0, 0;
}
.button--simple {
  /* font-size: 1.2em; */
}
#footer {
  --button-color: #000;
}
.button--simple {
  color: #546E7A;
}
.button--simple:hover svg,
.button--simple:active svg,
.button--simple:focus svg,
.button--simple:hover,
.button--simple:active,
.button--simple:focus,
#footer .button:hover,
#footer .button:active,
#footer .button:focus {
  color: #fff;
}
h1 {
  line-height: 1.15;
}
/************************************/
.list > ul,
.list > ol {
  counter-reset: section;
  list-style: none;
}
.list > ul ul,
.list > ol ol,
.list > ul ol,
.list > ol ul {
  counter-reset: subsection;
  list-style: none;
}
.list li li ul,
.list li li ol {
  counter-reset: subsubsection;
  list-style: none;
}
.hdesc--top + div:not(.section) li li,
.part:not(.docinfo):not(.dalsi):not(.o_praleku):not(.clanky):not(.upozorneni) .list li li {
  margin-left: var(--list-margin-left);
}
.hdesc--top + div:not(.section) .list li li ul li:before,
.hdesc--top + div:not(.section) .list li li ol li:before,
.part:not(.docinfo):not(.dalsi):not(.o_praleku):not(.clanky):not(.upozorneni) .list li li ul li:before,
.part:not(.docinfo):not(.dalsi):not(.o_praleku):not(.clanky):not(.upozorneni) .list li li ol li:before {
  counter-increment: subsubsection;
  content: counter(subsubsection, lower-roman) ".";
}
.hdesc--top + div:not(.section) .list > ol ol > li:before,
.hdesc--top + div:not(.section) .list > ol ul > li:before,
.part:not(.docinfo):not(.dalsi):not(.o_praleku):not(.clanky):not(.upozorneni) .list > ol ol > li:before,
.part:not(.docinfo):not(.dalsi):not(.o_praleku):not(.clanky):not(.upozorneni) .list > ol ul > li:before {
  counter-increment: subsection;
  content: counter(subsection, lower-alpha) ".";
}
.hdesc--top + div:not(.section) .list > ul > li:before,
.hdesc--top + div:not(.section) .list > ol > li:before,
.part:not(.docinfo):not(.dalsi):not(.o_praleku):not(.clanky):not(.upozorneni) .list > ul:not(.button-list) > li:before,
.part:not(.docinfo):not(.dalsi):not(.o_praleku):not(.clanky):not(.upozorneni) .list > ol > li:before {
  counter-increment: section;
  content: counter(section) ".";
}
.hdesc--top + div:not(.section) .list li:before,
.part:not(.docinfo):not(.dalsi):not(.o_praleku):not(.clanky):not(.upozorneni) .list li:before {
  width: 1rem;
  display: inline-flex;
  font-size: 1.25em;
  font-weight: bold;
  color: #607D8B;
  margin-left: -1.8rem;
  margin-right: 0.75rem;
}
.part:not(.docinfo):not(.dalsi):not(.o_praleku):not(.clanky):not(.upozorneni) .list > ul:not(.button-list) > li:before {
  content: "•";
  font-size: 2.5em;
  line-height: 0;
  vertical-align: -0.5rem;
}
.important,
.example,
.hdesc--top + div:not(.section) .list > *,
.part:not(.docinfo):not(.dalsi):not(.o_praleku):not(.clanky):not(.upozorneni) .list > * {
  max-width: var(--hdesc-top-p-max-width);
  justify-content: left;
  margin-left: 0;
  margin-right: 0;
}
/************************************/
.hdesc h1 {
  margin-top: 0.5em;
  margin-bottom: 0.5em;
}
.part.dalsi .hdesc + .list.list-wrapper--single {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
.part.dalsi .hdesc + .list.list-wrapper--single,
.part.dalsi .list.list-wrapper--multiple,
.part.clanky .list.list-wrapper--multiple {
  --global-max-width: 80rem;
  --list-multiple-item-margin: 1rem;
  padding-left: 0;
  padding-right: 0;
}
.part.dalsi .list > div,
.part.clanky .list > div {
  justify-content: center;
}
.part.dalsi .list.list-wrapper--single:last-child,
.part.clanky .list.list-wrapper--single {
  max-width: var(--global-max-width);
  padding-left: 0;
  padding-right: 0;
  padding-top: 1em;
}
.part.dalsi .list.list-wrapper--single:last-child dt,
.part.clanky .list.list-wrapper--single dt {
  font-size: var(--h2-font-size);
  font-weight: normal;
}
.part.dalsi .list.list-wrapper--single:last-child dd,
.part.clanky .list.list-wrapper--single dd {
  margin-left: 0;
  margin-top: 1rem;
}
.part.dalsi .list.list-wrapper--single:last-child .tag,
.part.clanky .list.list-wrapper--single .tag {
  margin-top: 0.5em;
  display: inline-flex;
}
.clanek {
  max-width: 25em !important;
  display: flex;
  flex-direction: column;
  position: relative;
  width: 100%;
}
.extra {
  --button-color: var(--global-color);
  --button-svg-color: #616161;
  --button--simple-bg: #fff;
  --button--simple-active-bg: #E0E0E0;
}
.clanek .extra {
  --button--simple-active-bg: #607D8B;  
}
.hdesc--top .list-wrapper--multiple {
  padding: 0;
  margin-top: 3em;
  text-align: left;
}
.hdesc--top .list-wrapper--multiple svg {
  display: none;
}
.hdesc--top .list-wrapper--multiple ul {
  margin: 0;
  text-align: left;
  justify-content: flex-start;
}
.hdesc--top .list-wrapper--multiple li {
  margin: 0;
  margin-right: 0.5em;
  font-size: 1.25em;
}
.hdesc--top .list-wrapper--multiple li:before {
  content: "●";
  margin-right: 0.5em;
  color: #607D8B;
}
.hdesc--top .list-wrapper--multiple .share,
.hdesc--top .list-wrapper--multiple .social {
  display: none;
}
.hdesc--top .button:hover,
.hdesc--top .button:active,
.hdesc--top .button:focus,
.clanek .button:hover,
.clanek .button:active,
.clanek .button:focus {
  color: white !important;
  --button-color: #ffffff;
  --button-svg-color: #ffffff;
}
.hdesc--top .extra {
  --button--simple-bg: none;
  --button--simple-active-bg: #607D8B;
  text-align: left;
}
.hdesc h2 + .hdesc__desc-wrapper {
  max-width: var(--hdesc-top-p-max-width);
}
.extra .hideable a.hideable-switch:before {
  all: initial;
}
.extra .button-list {
  margin: 0;
  margin-top: 0;
  justify-content: flex-end;
  position: relative;
}
.extra .button-list li {
  flex: 0 1 auto;
  margin-left: 0 !important;
}
.extra .button-list li:first-child {
  --button-list-item-margin: 0;
  flex-grow: 1;
}
.extra .button-list li:first-child ~ li a,
.extra .button-list li:first-child ~ li button,
.extra .button-list li:first-child ~ li span {
  --button-border-radius: 10em;
}
.extra .button-list li:first-child ~ li {
  text-align: center;
}
.hdesc--top .extra li:first-child svg,
.clanek .extra li:first-child + li svg {
  /* font-size: 0.75rem; */
}
.hdesc--top .extra li a,
.hdesc--top .extra li button,
.clanek .extra li:first-child ~ li a,
.clanek .extra li:first-child ~ li button {
  width: 3rem !important;
  height: 3rem;
}
.extra li svg {
  font-size: 1.2rem;
  width: 1.5rem;
}
.extra .button-list span {
  padding: 0;
}
.extra .button-list span a {
  padding: var(--button-img-only-padding);
}
.extra .button-list li:first-child .button {
  --button-padding: 1em;
  width: auto;
  min-width: auto;
  color: #546E7A;
}
.copyable-wrapper button {
  width: auto !important;
  height: auto !important;
  margin: 0.1rem 0;
}
.clanek .heading a {
  border: none;
  color: #333;
}
.clanek .heading {
  margin-top: 1em;
}
.extra {
  margin-top: 0.5em;
  padding-bottom: 0.5em;
}
.clanek .extra {
  padding-bottom: 0.5em;
}
.clanek .desc {
  flex-grow: 1;
}
.clanek .kw {
  margin-top: 0.8em;
}
.clanek .desc {
  flex-grow: 1;
  margin: 0.5em 0 0;
  height: 7.3em;
  overflow: hidden;
  position: relative;
}
.clanek .desc.expand {
  height: unset;
}
.clanek .desc.expand:after {
  height: 0;
}
.clanek .desc a.expand-button {
  position: absolute;
  display: inline-block;
  bottom: 0;
  left: 0;
  right: 0;
  cursor: pointer;
  margin: 0 auto;
  width: 100%;
  text-align: center;
  background: linear-gradient(180deg, rgba(255, 255, 255, 0.07), white 55%);
  padding: 2em 0 0 0;
}
.clanek .desc a.expand-button:before {
  content: "──────────────────────";
  color: #BDBDBD;
  position: absolute;
  left: 0;
  width: 100%;
  text-align: center;
  top: 3.2em;
  font-size: 0.75em;
}
.clanek .desc a.expand-button svg {
  font-size: 1.75em;
  position: relative;
  top: 0.1em;
  background: white;
  padding: 0 0.5rem;
  color: #9e9e9e;
}
.clanek dt:first-child {
  position: relative;
}
.clanek dt:first-child a:before,
.clanek dt:first-child a:after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: linear-gradient(to bottom,rgba(0,0,0,.8) 0%,rgba(0,0,0,0) 25%);
  border-radius: .5em .5em 0 0;
  z-index: 1;
  transition: var(--input-transition);
}
.clanek dt:first-child a:before {
  background: none;
}
.clanek dt:first-child a:hover:before {
  background: rgba(0,0,0,.2)
}
.clanek .date {
  position: absolute;
  top: -0.25em;
  right: 0;
  color: white;
  padding: 0em 1em;
  z-index: 2;
  pointer-events: none;
}
.clanek .kw {
  height: 1.5em;
  overflow: hidden;
  display: flex;
  flex-wrap: wrap;
}
/************************************/
.copyable-wrapper {
  max-width: calc(100%);
  width: max-content;
  overflow: hidden;
  background: #ffffff;
  display: flex;
  justify-content: space-between;
  border-radius: var(--global-border-radius);
  align-items: center;
  box-shadow: var(--shadow-2);
}
.extra .copyable-wrapper {
  position: absolute;
  right: 0;
  top: -2.7rem;
  line-height: 110%;
  text-align: left;
  display: none;
}
.extra .hideable-nohide .copyable-wrapper {
  display: flex;
}
.clanek .copyable-wrapper {
  width: 100%;
  box-shadow: var(--shadow-2);
}
.hdesc .copyable-wrapper {
  top: -2.4rem
}
.copyable-wrapper > span:first-child {
  order: 2;
  font-size: 1.2em;
  background: #e0e0e0;
  padding: .1em .2em .2em .2em;
  border-radius: 0 .3rem .3rem 0;
  flex-shrink: 0;
  height: 2em;
  line-height: 1.6;
}
.copyable-wrapper > span:first-child button {
  padding: .1em 0!important;
  height: 2em;
  width: 2em;
  border-radius: 0;
  overflow: hidden;
  background: none;
  color: transparent;
  border: none;
}
.hdesc .copyable-wrapper > span:first-child button {
  padding: .3em
}
.copyable-wrapper > span:first-child button svg {
  color: #424242 !important
}
.copyable-wrapper>span:first-child+span {
  padding: 0 .5em;
  overflow: hidden;
  height: 1.2em;
  flex-shrink: 1;
  word-break: break-all;
  outline: none;
  color: black;
}
/************************************/
a:not([href]) {
  --link-color: 33, 33, 33;
  --link-visited-color: 33, 33, 33;
}
a.tag {
  --link-border-opacity: 0.2;
  margin-left: 1.95em;
  position: relative;
  white-space: nowrap;
}
.kw {
  align-items: baseline;
}
.kw a.tag {
  display: inline-flex;
  margin-left: 1.5em;
  margin-right: 0.5em;
  margin-top: 0.2em;
}
.hdesc--top .meta a:not([href]),
.kw a:not([href]) {
  display: none;
}
a.tag svg {
  position: absolute;
  left: -1.35em;
  top: 0.3rem;
  color: rgba(var(--link-color), 0.5);
}
#clanky .tag {
  color: #D84315;
}
a.tag[href^="#"] {
  --link-color: 216, 67, 21;
  --link-visited-color: 216, 67, 21;
  border-bottom: none;
}
#clanky .tag svg,
a.tag[href^="#"] svg {
  color: #E64A19;
}
/************************************/ 
a.button:not(.button--border) {
  border-bottom: none !important;
}
dt label.button,
h2 label.button {
  cursor: pointer;
  margin-left: 1.5em;
  vertical-align: 0.35em;
  min-width: 7em;
}
dt label.button {
  margin-left: 1em;
  vertical-align: 0;
}
.taglist {
  width: 100%;
}
.taglist > * {
  max-width: 41rem;
  margin: 0 auto; 
}
.taglist dt {
  max-width: 40rem;
  font-size: 1.2em;
  margin: 1rem auto; 
}
.taglist dd {
  display: flex;
  flex-wrap: wrap;
}
.moreable-linkwrapper {
  width: 100%;
  padding: 3em 0 0 0;
}
.moreable-linkwrapper {
  display: flex;
  justify-content: center;
}
.moreable-linkwrapper .button span {
  margin-left: 0.25em;
}
.meta .moreable-linkwrapper {
  display: inline;
  width: auto;
}
.meta .moreable-linkwrapper span {
  display: none;
}
.meta .moreable-linkwrapper .button {
  padding: 1.25rem 0rem 1.65rem 0rem;
  min-width: 3rem;
  font-size: 1em;
  font-weight: 700;
  --button--simple-bg: whitesmoke;
  border-radius: 100%;
  width: 2.5em;
  height: 1.5em;
  color: #616161;
  justify-content: center;
  align-items: center;
}
/************************************/
.hostovka + div {
  margin-top: 4em;
}
.hostovka + div .imgwrap {
  height: 10em;
  width: 10em;
  margin-top: 0;
  padding: 0 !important;
  margin-left: auto;
  margin-right: auto;
}
.hostovka + div .card {
  max-width: 100vw;
  text-align: center;
  margin: 0;
}
.hostovka + div .card .tag {
  white-space: nowrap;
}
@media all and (min-width: 45em) {
  .hostovka + div .card {
    text-align: left;
    /* width: 31em; */
  } 
}
.hostovka + div .group {
  width: 100%;
}
.hostovka + div .image-group__wrapper > div:first-child {
  width: 12em;
  text-align: center;
}
.hostovka + div .list-wrapper--multiple > div {
  justify-content: center;
}
.hostovka + div .list-wrapper--multiple > div > dl:last-child {
  padding-top: 3em;
  padding-bottom: 2em;
  text-align: center;
  max-width: 33em;
  margin-left: auto;
  margin-right: auto;
}
.hostovka + div dd {
  margin: 0.5em 0;
}
.hostovka + div q {
  color: #546E7A;
}
.hostovka + div dd q {
  color: #455A64;
}
.author dt + dd {
  font-size: 1.2em;
}
.author dd svg {
  color: #333;
}
.author dd + dd svg:last-child {
  margin-left: 0.25em;
}
.author dd a:last-child {
  position: relative;
  margin-left: 1.5em;
}
.author dd + dd svg {
  position: absolute;
  top: 0.1em;
  left: -1.5em;
}
#clanky {
  text-align: center;
  margin-bottom: 2em;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
#clanky .tag {
  --link-color: 13 , 71 , 161;
  --link-visited-color: 103 , 58 , 182;
  white-space: nowrap;
}
/************************************/
#header {
  --header-bg: 0,0,0,0;
  --header-padding-top: 0;
  /* position: absolute; */
  top: 0;
  left: 0;
  z-index: 2;
  width: 100%;
}
#header > div {
  max-width: 62rem;
  position: relative;
}
.search ul {
  --button-svg-color: #ffffff;
  margin: 0;
  padding: 0;
  list-style: none;
}
.search ul li {
  margin: 0;
  display: flex;
}
.breadcrumb {
  /* display: flex; */
  /* flex-wrap: wrap; */
  /* justify-content: center; */
  align-items: baseline;
  margin-right: 3.9em;
  /* position: relative; */
  margin-left: 2.5rem;
  /* z-index: 1; */
}
.breadcrumb .breadcrumb__item:first-child {
  position: relative;
  left: -2.5em;
  width: 100%;
  min-width: 16em;
  z-index: 1;
}
.breadcrumb .breadcrumb__item {
  margin: 0.5em 0;
  justify-content: left;
}
.breadcrumb .breadcrumb__item + .breadcrumb__item {
  position: relative;
  top: -1em;
}
.breadcrumb .breadcrumb__item:nth-child(2) {
  margin-bottom: 0;
}
#header .breadcrumb a,
#header .breadcrumb a[href] {
  --link-color: var(--global-color);
  --link-visited-color: var(--global-color);
  border: none;
}
#header .breadcrumb > .breadcrumb__item ~ .breadcrumb__item a[href] {
  border-bottom: thin solid rgba(var(--link-color), 0.5);
}
.breadcrumb > .breadcrumb__item + .breadcrumb__item:before {
  color: #607D8B;
  font-size: 2em;
  font-weight: 600;
  line-height: 1rem;
}
.breadcrumb .imgwrap {
  background: none;
  height: 2rem;
  width: 2rem;
  padding: 0 !important;
  margin-right: 0.5em;
}
.breadcrumb svg {
  color: #D84315;
}
.breadcrumb a[href] > span + span {
  display: none;
}
body[data-link="/"] .breadcrumb a > span + span {
  /* display: none; */
  display: block;
  margin-left: 2.5rem;
  margin-top: -0.3em;
  display: none;
}
.breadcrumb a > span:nth-child(2) {
  text-transform: uppercase;
  vertical-align: 0.035em;
  /* margin-left: 0.5em; */
  color: #546E7A;
  font-size: 1.8em;
  font-weight: 600;
}
.hdesc--top {
  padding-top: 7em;
}
body:not(.agregator) .hdesc--top a:not(.definition--href),
body:not(.agregator) .hdesc--top label {
  --link-color: 255, 255, 255;
  --link-visited-color: 255, 255, 255;
}
.description {
  font-size: 1.2em;
}
.hdesc--top .extra .button-list {
  /* position: absolute; */
  /* bottom: -4em; */
  /* left: 0; */
}
.hdesc--top .extra .button-list {
  justify-content: flex-start;
  --button-list-item-margin: 1rem;
  --button--simple-bg: #F5F5F5;
  padding: 0;
  margin-right: auto;
  display: inline-flex;
}
.hdesc--top .extra .button-list li:first-child {
  all: initial;
  margin: 0.25rem;
  margin-left: 0;
}
.hdesc--top .extra .button-list li {
  margin-left: 0 !important;
  margin-right: 1em !important;
}
.extra .button-list li:last-child {
  margin-right: 0 !important;
}
.hdesc--top .extra .button-list li:first-child .button {
  border-radius: 100%;
}
.hdesc--top .meta {
  margin-top: 0;
  font-size: 1.2em;
  max-width: 30em;
  /* overflow: hidden; */
  /* height: 2.2em; */
  margin: 0 auto;
}
.hdesc--top .meta .tag {
  margin-left: 1.5em;
  margin-right: 0.85em;
  margin-top: 0.5em;
  display: inline-block;
}
.hdesc--top .meta .tag svg {
  color: rgba(var(--link-color), 0.5);
  top: 0.35em;
}
/***************************/
.agregator {
  --hdesc-dim-bg: none;
  --hdesc-top-bg: #ffffff;
}
.hdesc--top {
  padding-top: 2em;
  padding-bottom: 4em;
}
.agregator .hdesc--top {
  padding-bottom: 16em;
  padding-top: 1em;
  color: var(--global-color);
}
.hdesc--top ~ div:not(.section) {
  max-width: var(--global-max-width);
  margin: 0 auto;
}
.hdesc--top .meta,
.hdesc--top h1,
.hdesc--top .hdesc__desc-wrapper {
  margin-left: 0;
  margin-right: 0;
  text-align: left;
}
.hdesc--top:after {
  display: none;
}
.agregator #content .section {
  position: relative;
}
.agregator .section > .part:not(.otazky):not(.docinfo):not(.dotace):not(.dalsi):not(.internetguru) {
  max-width: var(--global-max-width);
  margin-left: auto;
  margin-right: auto;
}
.agregator #content .hdesc--top + div:before {
  content: "";
  display: block;
  position: relative;
  margin: 0 auto;
  max-width: 100vw;
  height: 28em;
  margin-top: -14em;
  margin-bottom: 1em;
  background: var(--no-img-bg);
}
@media all and (min-width: 70em) {
  .agregator #content .hdesc--top + div:before {
    width: calc(var(--global-max-width) - 2em);
    /* margin-left: -4em; */
  }
}
/***************************/
.search {
  padding-right: 6em;
  width: calc(100% + 1em);
  position: absolute;
  right: 0.2em;
  top: 0.2em;
}
.search .js-completable__navig strong {
  font-weight: 600;
}
.search .js-completable__navig li svg {
  margin: 0 0.5em 0 0.25em;
  color: #616161;
  vertical-align: -0.2em;
}
.search .js-completable__navig span {
  color: #9e9e9e;
  margin-left: 1.7em;
}
.search ul .js-completable__input {
  color: #000;
}
.search ul .js-completable__input {
  height: 3em;
  border: 0;
  outline: none;
  padding: 0;
  transition: all .1s ease-in-out;
  width: 100%;
  max-width: 100%;
  border-radius: 0;
  -webkit-appearance: none;
  border-bottom: thin solid #9E9E9E;
  width: 0;
  position: relative;
  right: -2rem;
  z-index: 2;
}
.search ul .js-completable__input:not(:placeholder-shown),
.search ul .js-completable__input:focus {
  width: 100%;
  padding: 0.5em 1em;
}
.search .js-completable__navig,
.search ul .js-completable__input:focus {
  color: #333;
}
.search ul li > label {
  width: 100%;
  text-align: right;
}
@media (max-width: 46em) {
  .search ul .js-completable__input:focus {
    max-width: calc(100% + 1.75em);
    width: calc(100% + 1.75em);
    border-radius: 0;
    border-left: none;
    margin-left: -1em;
  }
  .search .js-completable__navig {
    width: calc(100% + 10.5em) !important;
  }
}
.search ul .js-completable__input::placeholder {
  color: #757575;
}
.search ul .js-completable__input:focus::placeholder {
  
}
.search button[type="submit"] {
  min-width: unset;
  height: 3rem;
  line-height: 3rem;
  overflow: hidden;
  border: none;
  position: absolute;
  right: -6rem;
  top: 0;
  color: #607D8B;
  padding: 0 0.75rem 0 1rem;
  /* font-size: 1.2rem; */
  outline: none;
  border-radius: var(--global-border-radius);
  -webkit-appearance: none;
  --button-bg: none;
}
.search button[type="submit"] svg {
  font-size: 1.75rem;
  color: #607D8B;
  margin-right: 0;
  /* margin-left: 0.25em; */
}
@media (min-width: 62em) {
  .search ul button[type="submit"] {
    /* border-radius: 0 0 var(--global-border-radius) var(--global-border-radius); */
  }
}
.search button span {
  display: none;
}
.search button[type="submit"]:hover,
.search button[type="submit"]:active,
.search button[type="submit"]:focus {
  color: white;
}
.search button[type="submit"]:hover svg,
.search button[type="submit"]:active svg,
.search button[type="submit"]:focus svg {
  color: white;
}
.search ul {
  margin: 0;
  padding: 0;
  list-style: none;
  text-align: left;
}
.search > ul > li {
  margin: 0;
  position: relative;
  display: flex;
  justify-content: flex-start;
  text-align: left;
  padding: 0;
}
.search .js-completable__navig {
  width: calc(100% + 5em) !important;
  right: -6em;
  top: 3.5em;
}
.search .js-completable__navig li {
  max-width: 100%;
  display: block;
}
@media (min-width: 46em) {
  .search .js-completable__navig {
    width: calc(100% + 3.5em) !important;
  }
  .search {
    max-width: 27em;
  }
  .search button span {
    display: block;
  }
  .search ul .js-completable__input {
    right: -2.6em;
  }
  .search button[type="submit"] svg {
    margin-left: 0.25em;
  }
}
/************************************/
.agregator #content .part.docinfo-wrap {
  padding-top: var(--part-vertical-padding);
}
.agregator #content .part.docinfo-wrap .list-wrapper--multiple {
  max-width: var(--global-max-width);
  margin: 0 auto;
  padding: 0;
}
.button-list--ico {
  --button-list-item-margin: 1.5em;
  padding: 0;
  margin-top: 0;
  margin-bottom: 0;
}
.button-list--ico li:not(.donation) svg,
.agregator #content .part.docinfo-wrap svg {
  color: #616161;
  text-align: center;
}
.button-list--ico,
.agregator #content .part.docinfo-wrap .button-list {
  --list-margin-left: 0.5rem;
  justify-content: left;
}
.agregator .hdesc__desc-wrapper p {
  font-size: 1.2rem;
  margin-top: 0;
  margin-bottom: calc(1.5 * var(--global-vertical-margin));
  text-align: left;
}
.description {
  color: #757575;
}
.dalsi .description {
  color: #616161;
}
.agregator {
  --part-vertical-padding: 1rem;
}
/************************************/
.important,
.example {
  /* max-width: var(--hdesc-top-p-max-width) !important; */
  list-style: none;
  position: relative;
  padding: 1em;
  padding-left: 3.75em;
  margin: 0;
  min-height: 3.5em;
  color: black;
  /* display: flex; */
  justify-content: center;
  align-items: center;
  border-radius: var(--global-border-radius);
  /* box-shadow: var(--shadow-1); */
}
.important svg {
  color: #E64A19;
}
.example svg {
  color: #3F51B5;
}
li.important, li.example {
  margin-left: 0 !important;
}
li.important:before,
li.example:before {
  display: none !important;
}
.important svg, .example svg {
  position: absolute;
  top: 1rem;
  left: 1.5rem;
  font-size: 1.25em;
}
/************************************/
.part.docinfo-wrap {
  --button-list-item-margin: 1.5em;
  background: none;
  padding-top: 0 !important;
}
.part.docinfo-wrap > div {
  border-top: thin solid #E0E0E0;
  padding-top: 3em !important;
}
.button-list--ico li:not(.donation) svg,
.part.docinfo-wrap svg {
  font-size: 1.6em;
  margin-right: 0.25em;
  vertical-align: -0.25em;
}
.button-list--ico li:not(.donation) svg,
.docinfo.share a:not(.fb):not(.twitter) svg {
  position: absolute;
  top: 0;
  left: -1.5em;
}
.button-list--ico li:not(.donation),
.docinfo.share li {
  position: relative;
  margin-left: 2.75em;
}
.docinfo.social a.fb {
  --button-bg: #1160c6;
  --button--active-bg: #0b3f84;
  color: white;
}
.docinfo.social a.twitter {
  --button-bg: #1a76ad;
  --button--active-bg: #165276;
  color: white;
}
.docinfo.social a.fb svg,
.docinfo.social a.twitter svg {
  color: white !important;
}
.part.dotace {
  padding-bottom: 2em;
}
.part.dotace,
.part.dalsi,
.part.sponzoring,
.part.dalsi {
  background: #f5f5f5;
}
.part.dotace h2,
.part.dalsi h2 {
  padding-top: 1.5em;
}
.part.dalsi h2 {
  border-top: thin solid #c8c8c8;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
}
.part.dalsi {
  padding-bottom: 3em;
}
.part.sponzoring .button-list {
  justify-content: left;
}
.part.faq {
  display: none;
}
/************************************/
#content a.definition {
  border-bottom: medium dotted rgba(var(--link-color), 0.5) !important;
  background: none;
  transition: all var(--button-transition);
}
#content .definition__cont .clanek {
  box-shadow: var(--shadow-2);
  display: flex !important;
  margin-top: 0;
}
#content .definition__cont {
  position: absolute;
  width: max-content;
  z-index: 1;
  margin: 0.5em 0;
  max-width: 100%;
}
#content .definition--desc {
  padding: 1.75rem 1rem 1rem 1rem;
  font-size: 1rem;
  margin: 0;
  background: none;
  border-radius: var(--global-border-radius);
  box-shadow: var(--shadow-2);
  background: white;
}
#content .definition__close {
  font-size: 2em;
  display: flex;
  border-radius: 100%;
  line-height: normal;
  line-height: 1rem;
  top: 0.25rem;
  right: 0.15em;
  height: 1.75rem;
  width: 1.75rem;
  justify-content: center;
  align-items: center;
  padding-right: 0.075em;
}
#content .definition__close:hover {
  background: #EF5350;
  color: white;
}
/************************************/
li {
  margin-top: 0.15em;
  margin-bottom: 0.15em;
}
.figure {
  width: 15em;
  max-width: 100%;
}
.figure dd {
  margin-left: 0;
  margin-top: 0.5em;
}
.footer-menu__item--service svg {
  top: -0.05em;
}
/************************************/
.fa-symbol {
  width: 1em;
  height: 1em;
  vertical-align: -.125em;
}
body .scrolltopable span {
  font-size: 2rem;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  top: -0.1em;
}
.agregator .figure {
  width: 15em;
  max-width: 100% !important;
}
/************************************/
.hdesc--top.hostovka + div {
  padding-top: 3em;
  padding-bottom: 1em;
  background: #F5F5F5;
}
.hdesc--top.hostovka + div .imgwrap,
.hdesc--top.hostovka + div .card {
  background: none;
}
.hdesc--top.hostovka + div img {
  border-radius: 100%;
}
/************************************/
@media print {
  @page {
    size: auto;
    margin: 21mm 20mm;
  }
  :root {
    --part-vertical-padding: 1em;
    --part-odd-bg: none;
  }
  #header {
    display: none;
  }
  .hdesc--top {
    padding: 0 !important;
  }
  .print {
    display: block !important;
  }
  div.part.upozorneni:before,
  div.part.internetguru:before,
  .part.otazky button,
  .part.dotace,
  .taglist,
  .filter .button,
  .linklist-href,
  .moreable-linkwrapper,
  .docinfo.share,
  .hdesc--top .extra {
    display: none !important;
  }
  div.part.upozorneni,
  div.part.internetguru {
    padding: 1em 0;
  }
  .hdesc--top .description {
    margin-bottom: 0 !important;
  }
  .part.dalsi {
    background: none;
  }
  .part.dalsi h2 {
    padding-top: 0;
    border-top: 0;
  }
  .part.internetguru .button-list {
    display: none;
  }
  .clanky .list-wrapper--multiple div,
  .dalsi .list-wrapper--multiple div {
    display: block;
  }
  .clanky .list-wrapper--multiple dl:not(.taglist),
  .dalsi .list-wrapper--multiple dl:not(.taglist) {
    display: list-item !important;
    padding: 0;
    margin-top: 0.5em;
    margin-bottom: 0.5em;
    max-width: unset !important;
  }
  .clanky .list-wrapper--multiple dl > *:not(.print),
  .dalsi .list-wrapper--multiple dl > *:not(.print) {
    display: none;
  }
  .clanky .list-wrapper--multiple dl .print,
  .dalsi .list-wrapper--multiple dl .print {
    padding: 0;
  }
  .meta {
    padding: 0 1em;
    max-width: unset !important;
  }
  .part {
    background: none !important;
  }
  #footer {
    padding-top: 0;
    background: none;
    border-top: thin solid;
  }
  #footer .footer-menu__item:nth-child(4) {
    display: none;
  }
  #footer ul,
  #footer ul li {
    text-align: left;
    justify-content: flex-start;
    margin-left: 0;
  }
  .agregator-new .hdesc--top > div:after,
  dl.clanek.linklist-new > dt:first-child:after,
  dl.clanek.doclist-new > dt:first-child:after {
    content: "";
  }
  .docinfo.social a.fb,
  .docinfo.social a.twitter {
    --button-bg: #ffffff;
    --button--active-bg: #ffffff;
    color: black;
    max-width: none;
    width: auto;
    padding-left: 0;
  }
  .docinfo .button-list li {
    --button-max-width: 100%;
  }
  .docinfo.social a.fb svg,
  .docinfo.social a.twitter svg {
    color: black !important;
  }
}
/************************************/


