@charset 'UTF-8';
:root {
  --list-multiple-item-margin: 0.5rem;
  --global-border-radius: 0.5rem;
  --hdesc-dim-bg: rgba(0,0,0,0.6);
}
/************************************/
.part.clanky .list {
  --global-max-width: 80rem;
  --list-multiple-item-margin: 1rem;
}
.part.clanky .list > div {
  justify-content: center;
}
.clanek {
  --button-color: var(--global-color);
  --button-svg-color: #9E9E9E;
  --button--simple-bg: #fff;
  --button--simple-active-bg: #E0E0E0;
  max-width: 24em !important;
  display: flex;
  flex-direction: column;
  position: relative;
}
.clanek .hideable a.hideable-switch:before {
  all: initial;
}
.clanek .button-list {
  margin: 0;
  margin-top: 0;
  justify-content: space-between;
}
.clanek .button-list li:first-child {
  --button-list-item-margin: 0;
  flex-grow: 1;
}
.clanek .button-list li:first-child ~ li a,
.clanek .button-list li:first-child ~ li span {
  --button-border-radius: 10em;
}
.clanek .button-list span {
  padding: 0;
}
.clanek .button-list span a {
  padding: var(--button-img-only-padding);
}
.clanek .button-list li:first-child .button {
  --button-padding: 1em;
  width: auto;
  min-width: auto;
}
.clanek .heading a {
  border: none;  
}
.clanek .heading {
  margin-top: 1em;
}
.clanek .extra {
  margin-top: 0.5em;
  padding-bottom: 0.5em;
}
.clanek .desc {
  flex-grow: 1;
}
.clanek .kw {
  margin-top: 1em;
}
.clanek .desc {
  flex-grow: 1;
  margin: 0.5em 0 0;
  height: 7em;
  overflow: hidden;
  position: relative;
}
.clanek .desc.expand {
  height: unset;
}
.clanek .desc.expand:after {
  height: 0;
}
.clanek .desc a.expand-button {
  position: absolute;
  display: inline-block;
  bottom: 0;
  left: 0;
  right: 0;
  cursor: pointer;
  margin: 0 auto;
  width: 100%;
  text-align: center;
  background: linear-gradient(180deg, transparent, white 55%);
  padding: 2em 0 0 0;
}
.clanek .desc a.expand-button:before {
  content: "──────────────────────";
  color: #F5F5F5;
  position: absolute;
  left: 0;
  width: 100%;
  text-align: center;
  top: 2.45em;
  font-size: 0.75em;
}
.clanek .desc a.expand-button svg {
  font-size: 1.75em;
  position: relative;
  top: -0.25em;
  background: linear-gradient(180deg, transparent, white 55%);
  padding: 0 0.5rem;
  color: #9e9e9e;
}
.part.clanky .clanek .date {
  position: absolute;
  top: 0;
  right: 0;
  color: white;
  padding: 0.75em 1em;
  background: rgba(33, 33, 33, 0.7);
  border-radius: 0 var(--global-border-radius) 0 0;
}
.clanek .kw {
  height: 1.5em;
  overflow: hidden;
  display: flex;
  flex-wrap: wrap;
}
/************************************/
a:not([href]) {
  --link-color: 33, 33, 33;
  --link-visited-color: 33, 33, 33;
}
a.tag {
  margin-left: 1.75em;
  position: relative;
}
.kw a.tag:first-child {
  margin-left: 1.3em;
}
a.tag svg {
  position: absolute;
  left: -1.2em;
  top: 0.2em;
  color: rgba(var(--link-color), 0.5);
}
a.tag[href^="#"] {
  border: none;
}
/************************************/
dt label.button,
h2 label.button {
  cursor: pointer;
  margin-left: 1.5em;
  vertical-align: 0.35em;
}
dt label.button {
  margin-left: 1em;
  vertical-align: 0;
}
.taglist {
  width: 100%;
}
.taglist > * {
  max-width: 41rem;
  margin: 0 auto; 
}
.taglist dt {
  max-width: 40rem;
  font-size: 1.2em;
  margin: 1rem auto; 
}
.taglist dd {
  display: flex;
  flex-wrap: wrap;
}
.clanky .list-wrapper--multiple .moreable-linkwrapper.button-list {
  width: 100%;
  padding: 3em 0 0 0;
}
.clanky .list-wrapper--multiple .moreable-linkwrapper .button span {
  margin-left: 0.25em;
}
/************************************/
.hostovka + div {
  margin-top: 4em;
}
.hostovka + div .imgwrap {
  height: 10em;
  width: 10em;
  margin-top: 1em;
  padding: 0 !important;
}
.hostovka + div .image-group__wrapper > div:first-child {
  width: 10em;
  text-align: center;
}
.hostovka + div dd {
  margin: 0.5em 0;
}
.hostovka + div q {
  color: #BF360C;
}
/************************************/
#header {
  --header-bg: 0,0,0,0.5;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 2;
  width: 100%;
}
.search ul {
  margin: 0;
  padding: 0;
  list-style: none;
}
.search ul li {
  margin: 0;
  display: flex;
}
.breadcrumb {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
.breadcrumb a.logo {
  border: none;
}
.breadcrumb .imgwrap {
  background: none;
  height: 2rem;
  width: 2rem;
}
.breadcrumb .imgwrap + span {
  display: none;
}
.breadcrumb > .breadcrumb__item + .breadcrumb__item:before {
  position: relative;
  line-height: unset;
  font-size: 1.75em;
  top: -0.1rem;
}
.breadcrumb > .breadcrumb__item + .breadcrumb__item {
  padding-left: 0.25em;
}
.hdesc--top {
  --link-color: 255, 255, 255;
  --link-visited-color: 255, 255, 255;
  color: white;
  padding-top: 7em;
}
.hdesc--top .description {
  font-size: 1.2em;
}
/************************************/
