@charset "UTF-8";
/***************************/
h1,h2,h3,h4,h5,h6,p,ul,ol,dl,
div.paragraph, div.list, pre {
  margin: 1em auto;
  padding-left: 1rem;
  padding-right: 1rem;
}
#content > *:not(.hdesc):not(.section), #content > .hdesc > *, #content > .section > *, #header > *, #footer > * {
  max-width: 62rem;
  margin-left: auto;
  margin-right: auto;
  box-sizing: border-box;
}
/***************************/
#content strong  {
  font-weight: 500;
}
/***************************/
div.list {
  margin-top: 2em;
  margin-bottom: 2em;
}
#content div.list.multiple {
  max-width: 82em;
  padding: 0 0.5em;
  margin-top: 0;
}
/***************************/
dl.figure {
  display: inline-flex;
  flex-direction: column;
  text-align: center;
}
dl.figure:not(.mike) dt {
  padding: 0;
  display: inline-flex;
  min-height: 12em;
  align-self:  center;
}
dl.figure dt img {
  object-fit: cover;
  /* width: 100%; */
  max-width: 13em;
}
dl.figure dd {
  padding-top: 0.5em;
  margin: 0;
}
/***************************/
.hdesc {
  margin-bottom: 2em;
}
/***************************/
#footer .globalmenu,
#header .hideable {
  display: none;
}
/***************************/
h2#clanky {
  /* visibility: hidden; */
  /* height: 0; */
  /* margin: 0; */
  /* padding: 0; */
}
h2#clanky + p {
  display: none;
}
/***************************/
ul.docinfo.nomultiple.global {
  text-align: right;
  list-style: none;
}
/***************************/
#header .contentlink-bc img {
  width: 2em;
}
#header .contentlink-bc {
  padding: 0 1.25em;
  margin: 0;
}
#header .contentlink-bc li a {
  display: flex;
  align-items: center;
  margin-top: 0.6em;
}
.hdesc > div > * {
  text-align: center;
  margin-left: auto;
  margin-right: auto;
}
/***************************/
ol.contentlink-bc {
  margin: 0;
  padding: 0;
}
#header .contentlink-bc {
  flex-shrink: 0;
}
#header .contentlink-bc li ~ li {
  display: none;
}
#header .contentlink-bc a {
  border: none;
}
/***************************/
.current-label {
  display: flex;
  flex-wrap: wrap;
  list-style: none;
  align-items: center;
  padding: 0;
}
.current-label li {
  margin: 0;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  align-items: center;
}
.current-label li + li a {
  cursor: pointer;
  max-width: none;
}
.current-label li span {
  margin-left: 0.5em;
}
dl.taglist {
  flex: 0 1 96% !important;
  max-width: 36em !important;
}
dl.taglist dt {
  margin-top: 2em;
  margin-bottom: 1em;
  font-size: 1.5em;
}
dl.taglist dd {
  max-height: 5em;
  overflow: hidden;
  margin-left: 0;
}
.filter .button {
  vertical-align: middle;
  border: 0.1em solid;
  margin-left: 0.5em;
  white-space: nowrap;
}
/***************************/
a.tag {
  border: none;
  margin: 0.2em 0.5em 0.2em 0;
  display: inline-block;
  border-radius: 0.2em;
}
a.tag:before {
  font-family: "FontAwesome";
  margin-right: 0.25em;
  vertical-align: middle;
  content: "\f02b";
  font-size: 1.25em;
  line-height: 0;
}
/***************************/