@charset "UTF-8";

div.list.multiple > div {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

div.list.multiple div > * {
  flex: 0 1 100%;
  max-width: 100%;
  box-sizing: border-box;
  margin: 0.5em 0.5%;
}

@media screen and (min-width: 22em) {

}

@media (min-width: 38em) {
  div.list.multiple div > * {
    flex: 0 1 49%;
    max-width: 49%;
  }
}

@media (min-width: 68em) {
  div.list.multiple div > * {
    flex: 0 1 32.33%;
    max-width: 32.33%;
  }
}