@charset "UTF-8";
/***************************/
body {
  font-family: Arial, Helvetica, sans-serif;
  color: #444;
}
.wf-active body {
  font-family: Cabin, sans-serif;
  color: #444;
}
/***************************/
strong {
  font-weight: 600;
}
a {
  color: #bf360c;
}
/***************************/
.clanek .heading a,
h1, h2, h3 {
  font-weight: 400;
  font-family: Arial, Helvetica, sans-serif;
}
.clanek .heading a,
.wf-active h1,
.wf-active h2,
.wf-active h3 {
  font-family: Rubik, sans-serif;
}
h1 {
  font-size: 3em;
}
h2 {
  font-size: 2em;
}
h2, h3 {
  color: #111;
}
h1 + p {
  font-style: italic;
  font-size: 1.2em;
  margin-top: 0;
  margin-bottom: 3em;
  max-width: 45em;
}
/***************************/
#header {
  position: relative;
}
#header > .contentlink-bc {
  position: absolute;
  z-index: 11;
  top: 0;
  left: 0;
}
#header .contentlink-bc a {
  color: white;
  border-color: #ececec;
}
#header .contentlink-bc li:first-child a:not([href]) {
  font-size: 1.2em;
}
ol.contentlink-bc > li+li:before {
  color: #e6e6e6;
}
.hdesc {
  min-height: 17em;
  color: white;
  position: relative;
  overflow: hidden;
}
.hdesc > div {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  padding: 0 1em;
}
.hdesc h1 {
  margin-top: 2em;
}
@media all and (min-width: 52em) {
  .hdesc {
    min-height: 40em;
  }
  .hdesc h1 {
    margin-top: 4.5em;
  }
}
.hdesc a {
  color: white;
}
.hdesc h1,
.hdesc h1 + p {
  text-align: center;
  padding: 0;
}
.hdesc > * {
  position: relative;
  z-index: 1;
  height: 100%;
}
.hdesc:before,
.hdesc:after {
  content: "";
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
}
.hdesc:after {
  background: #000000a6;
  /* filter: blur(1em); */
}
.hdesc:before {
  background: url("/files/header.jpg") no-repeat;
  background-size: cover;
  background-position: 50% 30%;
}
/***************************/
.hdesc:before {
  animation: ken-burn-in 10s;
}
@keyframes ken-burn-in {
  0% {
    transform: scale(1.1);
  }
  100% {
    transform: scale(1);
  }
}
/***************************/
dl.figure.mike {
  display: block;
  background: none;
  max-width: 57em;
  margin: 5em auto;
}
dl.figure.mike:after {
  content: "";
  display: table;
  clear: both;
}
dl.figure.mike .img + dd {
  font-size: 1.5em;
}
dl.figure.mike dt q {
  display: block;
  margin-top: 1rem;
  font-size: 1.2em;
  font-style: italic;
  color: #111;
}
dl.figure.mike dd q {
  font-style: italic;
}
@media all and (min-width: 42em) {
  dl.figure.mike {
    text-align: left;
  }
  dl.figure.mike .img {
    float: left;
  }
  dl.figure.mike > *:not(.img) {
    margin-left: 16rem;
  }
}
/***************************/
#content .clanek {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  margin-top: 1.5em;
  position: relative;
  box-shadow: 0 0.15em 0.05em -0.1em rgba(0,0,0,.2),
    0 0.1em 0.1em 0 rgba(0,0,0,.14),
    0 0.05em 0.25em 0 rgba(0,0,0,.12);
  padding: 0;
  border-radius: 0.25em;
  background: white;
}
dl.clanek > *:not(:first-child):not(.date) {
  padding: 0 1rem;
  width: calc(100% - 2rem);
}
.clanek img {
  object-fit: cover;
  width: 100%;
  height: 15em;
  max-height: 100%;
  border-radius: 0.25em 0.25em 0 0;
}
.clanek dt:first-child {
  position: relative;
}
.clanek dt:first-child a {
  display: block;
  position: relative;
  z-index: 1;
  border: none;
}
.clanek dt:first-child img {
  display: block;
}
.clanek dt:first-child a:before {
  transition: all .5s ease-in-out;
}
a.tag:before,
.clanek .heading a {
  transition: all .2s ease-in-out;
}
.clanek dt:first-child a:before,
.clanek dt:first-child a:after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: linear-gradient(to bottom, rgba(0, 0, 0,0.8) 0%,rgba(0, 0, 0, 0) 25%);
  border-radius: 0.25em 0.25em 0 0;
}
.clanek dt:first-child a:before {
  background: none;
}
.clanek dt:first-child a:hover:before {
  background: #00000059;
}
.clanek > * {
  margin: 0;
  width: 100%;
}
.clanek dd.kw {
  margin: 0.75em 0;
  order: 0;
  justify-content: flex-start;
}
.clanek .heading {
  font-size: 1.5em;
  margin: 0 0 0.25em 0;
}
.clanek .heading a {
  color: #111;
  border: none;
}
.clanek .heading a:hover {
  color: #f57f17;
}
.clanek .date {
  position: absolute;
  top: 0.5em;
  right: 0.5em;
  color: white;
  text-align: right;
  width: calc(100% - 2rem);
  z-index: 2;
}
.clanek .desc {
  flex-grow: 1;
  margin: 0.5em 0;
}
.clanek .desc.expand {
  height: auto;
}
.clanek .desc.expand:after {
  height: 0;
}
.clanek .desc a.expand-button {
  cursor: pointer;
  font-size: 2em;
  margin-left: 0.25em;
  line-height: 0;
  vertical-align: -0.1em;
}
#content .clanek .extra {
  padding: 0.5em;
  padding-top: 0;
  width: calc(100% - 1rem);
}
.clanek .extra ul {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
  max-width: 100%;
}
.clanek .extra ul li {
  margin: 0;
  padding: 0;
  height: 2.25em;
}
.clanek .extra ul li:nth-child(2) {
  margin-left: auto;
}
#content .clanek .extra ul li > span {
  max-width: none;
  cursor: pointer;
  color: #9e9e9e;
  width: .075em;
  height: 1em;
  overflow: hidden;
  /*! background: red; */
  font-size: 1.2em;
  border-radius: 100%;
}
#content .clanek .extra ul li > span:before {
  position: relative;
  top: -0.15em;
  left: -0.4em;
}
.clanek .extra ul li > span span:first-child {
  flex: 0 0 1em;
  width: 1em;
  height: 1.2em;
  overflow: hidden;
}
#content .clanek .extra ul li > span.facebook {
  /*! background: red; */
  border-radius: 100%;
  width: 0.5em;
  height: 0.5em;
  padding: 1em;
}
#content .clanek .extra ul li > span.facebook span {
  
  position: relative;
  top: -0.4em;
  left: -0.05em;
}
.clanek .extra .button {
  border: none;
  display: inline-block;
}
.contentbalancer-simple a:hover,
.clanek .extra .button:hover {
  background: #fff8e1;
}
.contentbalancer-simple a:focus,
.contentbalancer-simple a:active,
.clanek .extra .button:focus,
.clanek .extra .button:active {
  background: #ffecb3;
}
/***************************/
.taglist:before {
  content: "Kategorie:";
  font-size: 1.2em;
  margin-right: 0.5em;
}
.taglist {
  list-style: none;
  display: table;
}
.taglist li {
  display: inline-block;
  margin: 0.3em;
}
/***************************/
a.tag {
  border: none;
  margin: 0.2em 0.5em 0.2em 0;
  display: inline-block;
  border-radius: 0.2em;
}
a.tag:hover:before {
  color: #9e9e9e;
}
a.tag:before {
  font-family: "FontAwesome";
  margin-right: 0.25em;
  vertical-align: middle;
  content: "\f02b";
  color: #e0e0e0;
  font-size: 1.25em;
  line-height: 0;
}
a.tag[href^="#"]:before {
  color: #9e9e9e;
}
a.tag:not([href]) {
  border: none;
  color: inherit;
}
a.tag:not([href]):hover:before {
  color: #e4e4e4;
}
.kw {
  display: flex;
  flex-wrap: wrap;
  height: 3.5em;
  overflow: hidden;
  justify-content: center;
}
.kw a.tag[href^="#"] {
  order: -1;
}
.kw a.tag:not([href]) {
  order: 1000;
}
/***************************/
.taglist {
  /* border-bottom: thin solid #cecece; */
  padding: 0 1em;
  padding-bottom: 2em;
}
#footer {
  margin-top: 3em;
  margin-bottom: 3em;
}
/***************************/
.moreable-linkwrapper a,
.contentbalancer-simple a,
.newsletter input[type="submit"],
.button,
button {
  border: none;
  padding: 0.5em 1em;
  letter-spacing: .08929em;
  border-radius: 0.35em;
  transition: 0.25s ease-out;
  text-transform: uppercase;
  font-weight: 500;
  outline: none;
  max-width: 15em;
  /* box-shadow: 0 0.1em 0.1em 0 rgba(0,0,0,0.14),     0 0.15em 0.05em -0.1em rgba(0,0,0,0.12),     0 0.05em 0.25em 0 rgba(0,0,0,0.2); */
}
.moreable-linkwrapper a,
.button:hover,
button:hover {
  /*
  box-shadow: 0 0.15em 0.15em 0 rgba(0,0,0,0.14),
    0 0.05em 0.35em 0 rgba(0,0,0,0.12),
    0 0.15em 0.05em -0.05em rgba(0,0,0,0.2);
  */
}
/***************************/
dl.figure {
  padding: 0.5em;
  background: #eceff1;
  color: #263238;
}
dl.figure dt img {
  max-height: 20em;
}
/***************************/
.example,
.important {
  max-width: 45em !important;
  padding: 1em;
  background: #ffebee;
  color: #b71c1c;
  overflow: hidden;
  display: table;
}
.example:before,
.important:before {
  content: "\f071";
  font-family: "FontAwesome";
  color: #ef9a9a;
  font-size: 2em;
  padding-right: 1rem;
  display: table-cell;
  vertical-align: middle;
}
.example {
  background: #fff3e0;
  color: #e65100;
}
.example:before {
  content: "\f0eb";
  color: #ef6c00;
}
/***************************/
ul.docinfo.nomultiple.global {
  display: flex;
  flex-wrap: wrap;
  margin-top: 3em;
}
ul.docinfo.nomultiple.global li {
  margin: 0;
  margin-right: 1em;
  margin-bottom: 0.5em;
}
ul.docinfo.nomultiple.global li:before {
  color: #757575;
}
ul.docinfo.nomultiple.partial {
  list-style: none;
  text-align: right;
  font-style: italic;
}
ul.docinfo.nomultiple.partial li {
  padding: 0;
  margin: 0;
  max-width: 100%;
}
/***************************/
#header {
  top: 0;
  left: 0;
  position: absolute;
  z-index: 11;
  width: 100%;
}
#header .contentlink-bc a {
  color: white;
}
#header .contentlink-bc li a[href] span {
  border-color: rgba(255, 255, 255, 0.6);
}
#header .contentlink-bc a {
  border: none;
}
#header .contentlink-bc span {
  display: none;
  margin-left: 1em;
  border-bottom: thin solid transparent;
  margin-bottom: 0.1em;
}
#header > div {
  display: flex;
}
#header > div form {
  flex-grow: 1;
}
@media (min-width: 38em) {
  #header .contentlink-bc span {
    display: block;
  }
  #header > div {
    display: flex;
    z-index: 11;
    justify-content: space-between;
    padding: 0;
  }
}
.search {
  padding-right: 6em;
  width: 100%;
}
.search .navigList strong {
  font-weight: 600;
}
.search .navigList li:before {
  font-family: "FontAwesome";
  margin-right: 0.5em;
}
.search .navigList .article:before {
  content: "\f0f6";
}
.search .navigList .tag:before {
  content: "\f02b";
}
.search .navigList .google:before {
  content: "\f1a0";
}
.search .navigList span {
  color: #9e9e9e;
}
.search ul input {
  color: #fff;
}
.search ul input {
  height: 3.5em;
  border: 0;
  outline: none;
  padding: 0.5em 1em;
  background: rgba(255, 255, 255, 0.3215686274509804);
  transition: all .2s ease-in-out;
  width: 100%;
  max-width: 100%;
  /* border: thin solid #ffffff61; */
  border-radius: 0;
  -webkit-appearance: none;
  border-radius: 0 0 0 0.25em;
  border: thin solid rgba(255, 175, 110, 0.6196078431372549);
  border-top: none;
}
@media (min-width: 38em) {
  .search {
    max-width: 25em;
  }
  .search ul input {
    width: 18em;
  }
  .search ul input:focus {
    width: 100%;
  }
}
@media (min-width: 63.5em) {
  .search ul button {
    border-radius: 0 0 0.25em 0 !important;
  }
}
.search ul input:focus {
  color: inherit;
  background: #ffffff;
}
@media (max-width: 38em) {
  .search ul input:focus {
    position: absolute;
    max-width: calc(100% + 5em);
    width: calc(100% + 5em);
    border-radius: 0;
    border-left: none;
    left: 0;
    top: 0;
    margin-left: -5em;
  }
}
.search ul input::placeholder {
  color: #fff;
}
.search ul input:focus::placeholder {
  color: #555;
}
.search button[type="submit"] {
  font-family: "FontAwesome";
  width: 6rem;
  height: 3.5rem;
  line-height: 3.5rem;
  overflow: hidden;
  border: none;
  position: absolute;
  right: -6rem;
  top: 0;
  background: #ef6c00;
  color: #fbe9e7;
  padding: 0 1rem;
  font-size: 1.8em;
  outline: none;
  border-radius: 0;
  -webkit-appearance:  none;
}
.search button[type="submit"]:hover {
  background: #fb8c00;
}
.search button[type="submit"]:active,
.search button[type="submit"]:focus {
    background: #e65100;
}
.search button[type="submit"]:before {
  content: "\f002";
  display: inline-block;
}
.search ul {
  margin: 0;
  padding: 0;
  list-style: none;
}
.search ul > li {
  margin: 0;
  position: relative;
  display: flex;
  justify-content: flex-end;
}
.search .navigList {
  width: calc(100% + 6em) !important;
  right: -6em;
  top: 3.5em;
}
.search .navigList li {
  max-width: calc(100% - 0.5em);
  display: block;
}
@media (max-width: 38em) {
  .search .navigList {
    width: calc(100% + 11em) !important;
    right: -6em;
    top: 3.5em;
  }
}
/***************************/
