@charset "UTF-8";
/***************************/
body {
  font-family: Arial, Helvetica, sans-serif;
  color: #555;
}
.wf-active body {
  font-family: Roboto, sans-serif;
}
/***************************/
strong {
  font-weight: 600;
}
a {
  color: #FFAD4D;
}
/***************************/
dl.figure {
  background: #e4e4e4;
  padding: 0.5em;
}
/***************************/
h1, h2, h3 {
  font-weight: 400;
}
h1 {
  font-size: 3em;
}
h2 {
  font-size: 2em;
}
h2, h3 {
  color: #444;
}
h1 + p {
  font-style: italic;
  font-size: 1.2em;
  margin-top: 0;
  margin-bottom: 3em;
}
/***************************/
#header {
  position: relative;
}
#header > div {
  position: absolute;
  z-index: 11;
  top: 0;
  left: 0;
}
#header .contentlink-bc a {
  color: white;
  border-color: #ececec;
}
#header .contentlink-bc li:first-child a:not([href]) {
  font-size: 1.2em;
  font-weight: 500;
}
ol.contentlink-bc > li+li:before {
  color: #e6e6e6;
}
.hdesc {
  min-height: 17em;
  color: white;
  position: relative;
  overflow: hidden;
}
.hdesc > div {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
}
.hdesc h1 {
  margin-top: 2em;
}
@media all and (min-width: 52em) {
  .hdesc {
    min-height: 35em;
  }
  .hdesc h1 {
    margin-top: 3.5em;
  }
}
.hdesc a {
  color: white;
}
.hdesc h1,
.hdesc h1 + p {
  text-align: center;
  padding: 0;
}
.hdesc > * {
  position: relative;
  z-index: 1;
  height: 100%;
}
.hdesc:before,
.hdesc:after {
  content: "";
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
}
.hdesc:after {
  background: #000000a6;
  filter: blur(1em);
}
.hdesc:before {
  background: url("/files/header.jpg") no-repeat;
  background-size: cover;
  background-position: 50% 30%;
}
/***************************/
.hdesc:before {
  animation: ken-burn-in 10s;
}
@keyframes ken-burn-in {
  0% {
    transform: scale(1.1);
  }
  100% {
    transform: scale(1);
  }
}
/***************************/
dl.figure.mike {
  display: block;
  background: none;
  max-width: 49em;
}
dl.figure.mike:after {
  content: "";
  display: table;
  clear: both;
}
dl.figure.mike .img + dd {
  font-size: 1.5em;
}
dl.figure.mike dt q {
  display: block;
  margin-top: 1rem;
  font-size: 1.2em;
  font-style: italic;
  color: #ba8e00;
}
@media all and (min-width: 42em) {
  dl.figure.mike {
    text-align: left;
  }
  dl.figure.mike .img {
    float: left;
  }
  dl.figure.mike > *:not(.img) {
    margin-left: 16rem;
  }
}
/***************************/
.clanek {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
}
.clanek img {
  object-fit: cover;
  width: 100%;
  max-height: 100%;
}
.clanek > * {
  margin: 0;
  width: 100%;
}
.clanek dt:first-child {
  height: 15em;
}
.clanek .kw {
}
.clanek .heading {
  font-size: 1.5em;
  margin: 1em 0 0.5em 0;
}
.clanek .desc {
  flex-grow: 1;
}
.clanek .more {
  margin: 2em 0;
}
.clanek .more a {
  border: thin solid #FFAD4D;
  box-shadow: 0.1em 0.7em 1em rgba(0,0,0, .15);
  padding: 0.75em 1em;
}
/***************************/
