@charset "UTF-8";
/***************************/
body {
  font-family: Arial, Helvetica, sans-serif;
  color: #444;
}
.wf-active body {
  font-family: Cabin, sans-serif;
  color: #444;
}
/***************************/
strong {
  font-weight: 600;
}
a {
  color: #bf360c;
}
/***************************/
.clanek .heading a,
h1, h2, h3 {
  font-weight: 400;
  font-family: Arial, Helvetica, sans-serif;
}
.clanek .heading a,
.wf-active h1,
.wf-active h2,
.wf-active h3 {
  font-family: Rubik, sans-serif;
}
h1 {
  font-size: 3em;
}
h2 {
  font-size: 2em;
  margin-bottom: 0.75em;
}
h2, h3 {
  color: #111;
}
h1 + p {
  font-style: italic;
  font-size: 1.2em;
  margin-top: 0;
  margin-bottom: 3em;
  max-width: 45em;
}
/***************************/
#header {
  top: 0;
  left: 0;
  position: absolute;
  z-index: 11;
  width: 100%;
}
#header .contentlink-bc a {
  color: white;
}
#header .contentlink-bc li a[href] span {
  border-color: rgba(255, 255, 255, 0.6);
}
#header .contentlink-bc a {
  border: none;
}
#header .contentlink-bc span {
  display: none;
  margin-left: 0.8em;
  border-bottom: thin solid transparent;
  margin-bottom: 0.1em;
}
.hdesc {
  color: white;
  position: relative;
  overflow: hidden;
}
.hdesc > div {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  padding: 0 1em;
}
.hdesc > div > h1 {
  max-width: 18em;
  margin-top: 0;
  margin-bottom: 0;
  width: 100%;
}
#header > div {
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
}
#header > div form {
  -webkit-flex-grow: 1;
  -ms-flex-positive: 1;
  flex-grow: 1;
}
.hdesc > div {
  margin-top: 6em;
  padding-top: 4vw;
  margin-bottom: 1em;
  /* padding-bottom: 5vw; */
  position: relative;
}
.hdesc > div div.meta {
  max-width: 25em;
  margin-bottom: 2em;
  padding-bottom: 2vw;
  width: 100%;
}
.hdesc > div h1 + div {
  max-width: 40em;
  margin-top: 2em;
  padding-top: 2vw;
  padding-bottom: 5vw;
  width: 100%;
}
@media (min-width: 42em) {
  #header .contentlink-bc span {
    display: block;
  }
  #header > div {
    display: flex;
    z-index: 11;
    justify-content: space-between;
    padding: 0;
  }
}
.hdesc a {
  color: white;
}
.hdesc > div > * {
  padding: 0;
  /* position: relative; */
  z-index: 1;
}
.hdesc > div > div > * {
  line-height: 1;
  display: inline;
  padding: 0;
}
.hdesc > div  a.tag:last-child {
  margin-right: 0;
}
.hdesc > div > div > p.description {
  padding-left: 0.25em;
}
.hdesc:before,
.hdesc:after {
  content: "";
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
}
.hdesc:after {
  background: rgba(0, 0, 0, 0.6509803921568628);
}
.hdesc:before {
  background-size: cover;
  background-position: 50% 30%;
}
.hdesc:before {
  background-image: url("/files/header.jpg");
  background-repeat: no-repeat;
  background-size: cover;
}
/***************************/
.hdesc:before {
  animation: ken-burn-in 10s;
}
@keyframes ken-burn-in {
  0% {
    transform: scale(1.1);
  }
  100% {
    transform: scale(1);
  }
}
/***************************/
dl.figure.mike {
  display: block;
  background: none;
  max-width: 57em;
  margin: 5em auto;
}
dl.figure.mike:after {
  content: "";
  display: table;
  clear: both;
}
dl.figure.mike .img + dd {
  font-size: 1.5em;
}
dl.figure.mike dt q {
  display: block;
  margin-top: 1rem;
  font-size: 1.2em;
  font-style: italic;
  color: #111;
}
dl.figure.mike dd q {
  font-style: italic;
}
@media all and (min-width: 42em) {
  dl.figure.mike {
    text-align: left;
  }
  dl.figure.mike .img {
    float: left;
  }
  dl.figure.mike > *:not(.img) {
    margin-left: 16rem;
  }
}
/***************************/
#content .clanek {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  margin-top: 1.5em;
  position: relative;
  box-shadow: 0 0.15em 0.05em -0.1em rgba(0,0,0,.2),
    0 0.1em 0.1em 0 rgba(0,0,0,.14),
    0 0.05em 0.25em 0 rgba(0,0,0,.12);
  padding: 0;
  border-radius: 0.5em;
  background: white;
  width: 100%;
  max-width: 25em;
}
dl.clanek > *:not(:first-child):not(.date) {
  padding: 0 1rem;
  width: calc(100% - 2rem);
}
.clanek img {
  object-fit: cover;
  width: 100%;
  height: 15em;
  max-height: 100%;
  border-radius: 0.5em 0.5em 0 0;
}
.clanek dt:first-child {
  position: relative;
}
.clanek dt:first-child a {
  display: block;
  position: relative;
  z-index: 1;
  border: none;
}
.clanek dt:first-child img {
  display: block;
}
.clanek dt:first-child a:before {
  transition: all .5s ease-in-out;
}
a.tag:before,
.clanek .heading a {
  transition: all .2s ease-in-out;
}
.clanek dt:first-child a:before,
.clanek dt:first-child a:after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: linear-gradient(to bottom, rgba(0, 0, 0,0.8) 0%,rgba(0, 0, 0, 0) 25%);
  border-radius: 0.5em 0.5em 0 0;
}
.clanek dt:first-child a:before {
  background: none;
}
.clanek dt:first-child a:hover:before {
  background: #00000059;
}
.clanek > * {
  margin: 0;
  width: 100%;
}
.clanek dd.kw {
  margin: 0.75em 0;
  order: 0;
  justify-content: flex-start;
}
.clanek .heading {
  font-size: 1.5em;
  margin: 0 0 0.25em 0;
}
.clanek .heading a {
  color: #111;
  border: none;
}
.clanek .heading a:hover {
  color: #f57f17;
}
.clanek .date {
  position: absolute;
  top: 0.5em;
  right: 0.5em;
  color: white;
  text-align: right;
  width: calc(100% - 2rem);
  z-index: 2;
}
.clanek .desc {
  flex-grow: 1;
  margin: 0.5em 0;
}
.clanek .desc.expand {
  height: auto;
}
.clanek .desc.expand:after {
  height: 0;
}
.clanek .desc a.expand-button {
  cursor: pointer;
  font-size: 2em;
  margin-left: 0.25em;
  line-height: 0;
  vertical-align: -0.1em;
}
.extra ul {
  list-style: none;
  margin: 0;
  padding: 0;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  max-width: 100%;
  position: relative;
  align-items: center;
}
.extra ul li {
  height: 2.25em;
}
.extra ul li:nth-child(2) {
  margin-left: auto;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-align-items: flex-end;
      -ms-flex-align: end;
          align-items: flex-end;
  width: 100%;
}
.extra .button {
  border: none;
  display: inline-block;
  padding-left: 0.6em;
  padding-right: 0.6em;
}
.filter .button:hover,
.contentbalancer-simple a:hover,
.extra .button:hover {
  background: #fff8e1;
}
.filter .button:active,
.filter .button:focus,
.contentbalancer-simple a:focus,
.contentbalancer-simple a:active,
.extra .button:focus,
.extra .button:active {
  background: #ffecb3;
}
/***************************/
a.tag[href]:hover:before {
  color: #9e9e9e;
}
a.tag:before {
  font-family: "FontAwesome";
  margin-right: 0.25em;
  vertical-align: middle;
  content: "\f02b";
  color: #e0e0e0;
  font-size: 1.25em;
  line-height: 0;
}
h2 a.tag:before,
a.tag[href^="#"]:before {
  color: #9e9e9e;
}
a.tag:not([href]) {
  border: none;
  color: inherit;
}
.kw {
  display: flex;
  flex-wrap: wrap;
  height: 1.5em;
  overflow: hidden;
  justify-content: center;
}
h2 a.tag {
  margin-left: 0.5em;
}
h2 a.tag:before {
  /* color: #9e9e9e; */
}
/***************************/
.taglist {
  /* border-bottom: thin solid #cecece; */
  padding: 0 1em;
  padding-bottom: 2em;
  max-width: 40em !important;
}
#footer {
  margin-top: 3em;
  margin-bottom: 3em;
}
/***************************/
.moreable-linkwrapper a,
.contentbalancer-simple a,
.newsletter input[type="submit"],
.button,
button {
  border: none;
  padding: 0.5em 1em;
  letter-spacing: .08929em;
  border-radius: 0.35em;
  transition: 0.25s ease-out;
  text-transform: uppercase;
  font-weight: 500;
  outline: none;
  max-width: 15em;
  /* box-shadow: 0 0.1em 0.1em 0 rgba(0,0,0,0.14),     0 0.15em 0.05em -0.1em rgba(0,0,0,0.12),     0 0.05em 0.25em 0 rgba(0,0,0,0.2); */
}
.moreable-linkwrapper a,
.button:hover,
button:hover {
  /*
  box-shadow: 0 0.15em 0.15em 0 rgba(0,0,0,0.14),
    0 0.05em 0.35em 0 rgba(0,0,0,0.12),
    0 0.15em 0.05em -0.05em rgba(0,0,0,0.2);
  */
}
/***************************/
dl.figure {
  padding: 0.5em;
  background: #eceff1;
  color: #263238;
}
dl.figure dt img {
  max-height: 20em;
}
/***************************/
.example,
.important {
  max-width: 45em !important;
  padding: 1em;
  background: #ffebee;
  color: #b71c1c;
  overflow: hidden;
  display: table;
}
.example:before,
.important:before {
  content: "\f071";
  font-family: "FontAwesome";
  color: #ef9a9a;
  font-size: 2em;
  padding-right: 1rem;
  display: table-cell;
  vertical-align: middle;
}
.example {
  background: #fff3e0;
  color: #e65100;
}
.example:before {
  content: "\f0eb";
  color: #ef6c00;
}
/***************************/
ul.docinfo.nomultiple.global {
  text-align: left;
  border-top: thin solid #d6d6d6;
  padding-top: 3em;
  margin-top: 3em;
}
@media (min-width: 30em) {
  ul.docinfo.nomultiple.global {
    display: flex;
    flex-wrap: wrap;
  }
  ul.docinfo.nomultiple.global li {
    margin-bottom: 0.5em;
  }
}
/***************************/
#header {
  top: 0;
  left: 0;
  position: absolute;
  z-index: 11;
  width: 100%;
}
#header .contentlink-bc a {
  color: white;
}
#header .contentlink-bc li a[href] span {
  border-color: rgba(255, 255, 255, 0.6);
}
#header .contentlink-bc a {
  border: none;
}
#header .contentlink-bc span {
  display: none;
  margin-left: 1em;
  border-bottom: thin solid transparent;
  margin-bottom: 0.1em;
}
#header > div {
  display: flex;
}
#header > div form {
  flex-grow: 1;
}
@media (min-width: 38em) {
  #header .contentlink-bc span {
    display: block;
  }
  #header > div {
    display: flex;
    z-index: 11;
    justify-content: space-between;
    padding: 0;
  }
}
.search {
  padding-right: 6em;
  width: 100%;
}
.search .navigList strong {
  font-weight: 600;
}
.search .navigList li:before {
  font-family: "FontAwesome";
  margin-right: 0.5em;
}
.search .navigList .article:before {
  content: "\f0f6";
}
.search .navigList .tag:before {
  content: "\f02b";
}
.search .navigList .google:before {
  content: "\f1a0";
}
.search .navigList span {
  color: #9e9e9e;
}
.search ul input {
  color: #fff;
}
.search ul input {
  height: 3.5em;
  border: 0;
  outline: none;
  padding: 0.5em 1em;
  background: rgba(255, 255, 255, 0.3215686274509804);
  transition: all .2s ease-in-out;
  width: 100%;
  max-width: 100%;
  /* border: thin solid #ffffff61; */
  border-radius: 0;
  -webkit-appearance: none;
  border-radius: 0 0 0 0.25em;
  border: thin solid rgba(255, 255, 255, 0.32);
  border-top: none;
}
@media (min-width: 38em) {
  .search {
    max-width: 25em;
  }
  .search ul input {
    width: 18em;
  }
  .search ul input:focus {
    width: 100%;
  }
}
@media (min-width: 63.5em) {
  .search ul button {
    border-radius: 0 0 0.25em 0 !important;
  }
}
.search ul input:focus {
  color: inherit;
  background: #ffffff;
}
@media (max-width: 38em) {
  .search ul input:focus {
    position: absolute;
    max-width: calc(100% + 5em);
    width: calc(100% + 5em);
    border-radius: 0;
    border-left: none;
    left: 0;
    top: 0;
    margin-left: -5em;
  }
}
.search ul input::placeholder {
  color: #fff;
}
.search ul input:focus::placeholder {
  color: #555;
}
.search button[type="submit"] {
  font-family: "FontAwesome";
  width: 6rem;
  height: 3.5rem;
  line-height: 3.5rem;
  overflow: hidden;
  border: none;
  position: absolute;
  right: -6rem;
  top: 0;
  background: #f4511e;
  color: #fbe9e7;
  padding: 0 1rem;
  font-size: 1.8em;
  outline: none;
  border-radius: 0;
  -webkit-appearance:  none;
}
.search button[type="submit"]:hover {
  background: #fb8c00;
}
.search button[type="submit"]:active,
.search button[type="submit"]:focus {
    background: #e65100;
}
.search button[type="submit"]:before {
  content: "\f002";
  display: inline-block;
}
.search ul {
  margin: 0;
  padding: 0;
  list-style: none;
}
.search ul > li {
  margin: 0;
  position: relative;
  display: flex;
  justify-content: flex-end;
}
.search .navigList {
  width: calc(100% + 6em) !important;
  right: -6em;
  top: 3.5em;
}
.search .navigList li {
  max-width: calc(100% - 0.5em);
  display: block;
}
@media (max-width: 38em) {
  .search .navigList {
    width: calc(100% + 11em) !important;
    right: -6em;
    top: 3.5em;
  }
}
/***************************/
.moreable-linkwrapper {
  width: 100%;
  max-width: 100% !important;
  flex: 0 0 100% !important;
  text-align: center;
  padding-top: 3em !important;
}
.moreable-linkwrapper a {
  display: inline-block;
  margin: 0 auto !important;
  width: auto;
  border: 0.1em solid;
  cursor: pointer;
  max-width: none !important;
}
.moreable-linkwrapper a:hover {
  background: #FFE0B2;
}
.moreable-linkwrapper a:focus,
.moreable-linkwrapper a:active {
  background: #FFF3E0;
}
/***************************/
/***************************/
.copyable-wrapper {
  max-width: 100%;
  overflow: hidden;
  background: #f1f3ff;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  justify-content: space-between;
  border-radius: 0.3rem;
  align-items: center;
}
.extra .copyable-wrapper {
  position: absolute;
  right: 0;
  top: -2.7rem;
  line-height: 110%;
  text-align: left;
}
.clanek .copyable-wrapper {
  width: 100%; 
  box-shadow: 0 0.15em 0.05em -0.1em rgba(0,0,0,.2), 0 0.1em 0.1em 0 rgba(0,0,0,.14), 0 0.05em 0.25em 0 rgba(0,0,0,.12), 0 -0.6em 0.5em 0em #ffffff9e;
}
.hdesc .copyable-wrapper {
  top: -2.4rem;
}
.copyable-wrapper > span:first-child {
  order: 2;
  font-size: 1.2em;
  background: #e0e0e0;
  padding: 0.1em 0.2em 0.1em 0.4em;
  border-radius: 0 0.3rem 0.3rem 0;
  flex-shrink: 0;
  height: 1.6em;
  line-height: 1.6;
}
.copyable-wrapper > span:first-child button {
  padding: 0.2em;
  height: 1.7em;
  width: 2em;
  border-radius: 0;
  overflow: hidden;
  background: none;
  color: transparent;
}
.hdesc .copyable-wrapper > span:first-child button {
  padding: 0.3em;
}
.copyable-wrapper > span:first-child button:before {
  content: "\f0ea";
  font-family: "FontAwesome";
  color: #333;
}
.copyable-wrapper > span:first-child + span {
  padding: 0 0.5em;
  overflow: hidden;
  height: 1.2em;
  flex-shrink: 1;
  word-break: break-all;
  outline: none;
}
.extra .hideable {
  display: flex;
  justify-content: flex-end;
  margin-left: auto;
}
.fb a,
.twitter a {
  border: 0;
}
.extra .hideable-switch,
.fb a,
.twitter a {
  transition: 0.25s ease-out;
  font-size: 1.3rem;
  display: block;
  overflow: hidden;
  line-height: 1;
  height: 2em;
  width: 2em;
  border-radius: 1em;
  padding-top: 0.5em;
  padding-left: 0.5em;
  box-sizing: border-box;
  color: transparent;
}
.extra .hideable > span:first-child {
  order: 10;
}
.extra span a {
  margin: 0 0.2em;
  border: none;
  text-align: left;
}
html:not(.js) .extra .hideable > span:first-child,
html:not(.js) .extra .hideable > .copyable {
  display: none;
}
.hdesc .extra *:before {
  color: white;
}
.hdesc .extra .hideable-switch {
  padding-top: 0.4em;
}
.extra .hideable-nohide .hideable-switch,
.extra .hideable-switch:hover,
.fb a:hover,
.twitter a:hover {
  background: #eeeeee;
}
.hdesc .extra .hideable-nohide .hideable-switch,
.hdesc .extra .hideable-switch:hover,
.hdesc .fb a:hover,
.hdesc .twitter a:hover {
  background: #757575;
}
#content .extra .hideable-switch:before,
.fb a:before,
.twitter a:before {
  content: "\f1e0";
  font-family: "FontAwesome";
}
.section .extra .hideable-switch:before,
.fb a:before,
.twitter a:before {
  transition: 0.25s ease-out;
  color: transparent;
}
.section .extra .hideable-switch:before, .fb a:before, .twitter a:before {
  color: #999;
  margin: 0;
}
.section .extra .hideable-switch {
  padding-left: 0.5em;
}
.fb a {
  padding-left: 0.7em;
}
.fb a:before {
  content: "\f09a";
}
.twitter a:before {
  content: "\f099";
}
#content .hdesc .extra {
  width: 100%;
  position: relative;
}
span.copyable-wrapper {
  color: #333;
  width: max-content;
  max-width: 100%;
}
/***************************/
dl:not(.mike):not(.clanek) dt {
  font-weight: 500;
  font-size: 1.2em;
}
dl:not(.mike):not(.clanek) dt:not(:first-child) {
  margin-top: 0.5em;
}
dl:not(.mike):not(.clanek) dd {
  margin: 0;
}
/***************************/
p:after {
  content: "";
  display: table;
  clear: both;
}
/***************************/